:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
  --white: #ffffff;
  --adress: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
  text-decoration: none;
}
.header-big {
  line-height: 1.07;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 1.12px;
  color: var(--white);
  text-align: center;
  margin-right: 316px;
  margin-left: 316px;
  max-width: 496px;
}
.header-medium {
  line-height: 1.11;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-transform: capitalize;
  text-align: center;
}
.header-small {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.small-text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2%;
}
.button-main {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: 1.5;
  background: var(--iris);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
  background-color: var(--ocean);
  color: var(--white);
}
.hero-background {
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background-image.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navybluebg {
  background-color: var(--navyblue);
}
.cloudbg {
  background-color: var(--cloud);
}

.footer-text {
  font-weight: 400;

  color: var(--cloud);
}
.header-link {
  color: var(--navyblue);
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--iris);
  letter-spacing: 0.54px;
  line-height: 1.17;
  font-weight: 800;
}
.logo-two {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--navyblue);
  letter-spacing: 0.54px;
  line-height: 1.17;
  font-weight: 800;
}
.logo-three {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--cloud);
  letter-spacing: 0.54px;
  line-height: 1.17;
  font-weight: 800;
}

.card {
  background: var(--white);
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--ocean);
}
.card-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.link {
  text-decoration: none;
}
.adress-style {
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}
.mail-phone {
  color: var(--adress);
  letter-spacing: 0.02em;
}
.paragraf {
  color: var(--adress);
}
.button-list {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: 1.5;
  background: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--iris);
  font-family: "Roboto", sans-serif;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
}
.button-list:hover,
.button-list:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/*Header*/
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-border {
  border-bottom: 1px solid #e7e9fc;
}
.header-main {
  display: flex;
  justify-content: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: 332px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-header {
  margin-right: 76px;
}
.list-header {
  display: flex;
  gap: 40px;
}

.adress-list {
  display: flex;
  gap: 40px;
}
.header-link {
  padding: 24px 0;
}

/*Main*/
.main-section {
  padding: 188px 0;
}

.section-features {
  margin: auto;
}
.list-section-features {
  display: flex;
  gap: 24px;
}
.icon-features {
  width: 64px;
  height: 64px;
}
.features-item-icon {
  border-radius: 4px;
  background: var(--cloud);
  padding: 24px 100px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.title-features {
  margin-bottom: 8px;
}

.title-wawd {
  margin-bottom: 72px;
}
.list-wawd {
  display: flex;
  gap: 24px;
}
.item-wawd {
  width: calc((100% - 48px) / 3);
}

.title-ourteam {
  margin-bottom: 72px;
}
.list-ourteam {
  display: flex;
  gap: 24px;
}
.name-team {
  padding: 32px 0;
}
.title-name {
  text-align: center;
  margin-bottom: 8px;
}
.name-text {
  text-align: center;
}
.section-ourteam-icon {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}
.social-link .link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.social-item {
  display: flex;
  gap: 24px;
  padding-top: 8px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
}
.social-link .link:hover {
  background-color: var(--green);
}
.section-customers {
  padding: 120px;
}
.section-customers-list {
  display: flex;
  gap: 24px;
}
.section-customers-item {
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  padding: 16px 32px;
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  width: 104px;
  height: 56px;
  fill: var(--lightslate);
}
.customers-icon:hover {
  fill: var(--ocean);
}

.section-customers-item:hover,
.section-customers-item:focus {
  border-radius: 4px;
  border: 1px solid var(--ocean);
}

.title-customers {
  margin-bottom: 72px;
}
.footer-section {
  padding: 100px 0;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  max-width: 264px;
}
.social-footer-text {
  color: var(--white);
}
.footer-content {
  display: flex;
  gap: 120px;
}

.social-link-footer .link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer .link:hover,
.social-link-footer .link:focus {
  background-color: var(--green);
}
.social-footer {
  display: flex;
  gap: 16px;
  padding-top: 16px;
}
.section-footer-icon {
  width: 24px;
  height: 24px;
  fill: var(--cloud);
}
/*Portfolio-page*/
.porfolio-main {
  padding-top: 96px;
  padding-bottom: 120px;
  display: flex;
  margin: auto;
}
.list-portfolio-bitton {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.list-portfolio-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio {
  width: calc((100% - 48px) / 3);
}

.portfolio-item-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  margin-bottom: 8px;
}
.sec-padding {
  padding: 120px 0;
}
.sec-paddingcenter {
  padding-bottom: 120px;
}
.current {
  color: var(--ocean);
  border-bottom: 2px solid var(--ocean);
}
.list-portfolio-content .card:active {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.list-portfolio-content .card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.overlay {
  padding: 8px;
  background-color: var(--iris);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}
.item-portfolio:active .overlay {
  transform: translateY(0);
}
.item-portfolio:hover .overlay,
.item-portfolio:focus .overlay {
  transform: translateY(0);
}
.hover-card-potfolio {
  position: relative;
  overflow: hidden;
}
